.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 6.5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
    max-width: 600px;
    > span { // span is a direct child of hero -> subchilds wont be affected
      font-size: 1.5rem;
      color: var(--gray-100);
      font-weight: 500;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;

        span {
            font-weight: 900;
            color: var(--blue);
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
}